@use '../abstracts/' as *;
@use '../base/' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  padding: rem(25);
  z-index: 999;
  height: rem(110);

  @include breakpoint(medium) {
    padding: rem(65);
    height: auto;
  }
  &__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include breakpoint(medium) {
      display: block;
      max-width: rem(500);
      margin-right: auto;
      padding: 0 20px;
    }
  }
  &__inner {
    display: flex;
    align-items: baseline;
    gap: rem(55);
  }
  .brand {
    font-size: rem(24);
    font-weight: bold;
    text-align: center;

    &-link {
      color: $white;
      text-transform: lowercase;
    }
  }

  .nav {
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
    &__list {
      display: flex;
      align-items: center;
      gap: rem(35);
    }

    &__link {
      color: $white;
      font-size: rem(16);
      text-transform: lowercase;
      position: relative;
      display: inline-block;
      padding-bottom: rem(10);

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 50%;
        height: rem(2);
        background-color: $white;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  .burger__btn {
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
}
